<div class="containerLogin d-flex justify-content-between container align-items-center">
    <h1>Bienvenido {{nombre}} </h1>
    <form action="/logout" method="get">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<div class="container">
    <h2 class="titulo">Ingrese Producto</h2>
    <form onsubmit="return addProduct(this)">
        <label for="formGroupExampleInput" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="title" placeholder="Titulo">
        <label for="formGroupExampleInput2" class="form-label">Precio :</label>
        <input type="text" class="form-control" id="price" placeholder="Precio Producto">
        <label for="formGroupExampleInput2" class="form-label">Direccion Imagen:</label>
        <input type="text" class="form-control" id="thumbnail" placeholder="Url Imagen">
        <input type="submit" class=" btn btn-primary inputEnviar"></input>
    </form>
    <h3 class="subtitulo">Lista de productos</h3>
    <table id="table">
        <thead>
            <tr role="row">
                <th>Titulo</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody id="products">

        </tbody>
    </table>
</div>

<div class="container">
    <h2 class="titulo">Centro de Mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="email" class="form-control" required id="id" placeholder="ejemplo@gmail.com">
        <input type="text" class="form-control"  id="nombre" placeholder="Nombre">
        <input type="text" class="form-control"  id="apellido" placeholder="Apellido">
        <input type="number" class="form-control"  id="edad" placeholder="Edad">
        <input type="text" class="form-control"  id="alias" placeholder="Alias">
        <input type="text" class="form-control"  id="text" placeholder="Mensaje">
        <input type="text" class="form-control"  id="avatar" placeholder="Avatar">
        <input type="submit" class=" btn btn-primary inputEnviar"></input>
    </form>
    <div id="messages"></div>
</div>
</form>
<br>