<div class="containerLogin container">
    <h1>Login de Usuario</h1>
    <form action="/login" method="POST" >
        <label for="formGroupExampleInput" class="form-label">Ingrese su nombre:</label>
        <input type="text" class="form-control" id="nombre" required name="nombre" placeholder="Ejemplo: User1">
        <input type="submit" class=" btn btn-primary inputEnviar"></input>
    </form>
</div>