<div class="message">
    <img class="avatar" src={{ author.avatar }} alt="Avatar">
    <p class="email"><b>{{ author.id }}</b></p>
    <p class="date">[{{ date }}]: </p>
    <p class="messageInfo"><i>{{ text }}</i></p>
</div>