<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>

  <body>
    <div class="productContainer userInfo">
      <div>
        <h1 id="UserName"></h1>
        <h3 id="userEmail"></h3>
      </div>
      <div>
        <button class="btn btn-info my-5" onclick="verInfo()">Ver INFO</button>
      </div>
      <button id="logout-btn">Logout</button>
    </div>
    <div class="productContainer" id="productContainer">
      <div class="productForm">
        <form id="productForm">
          <input type="text" name="title" placeholder="title" required />
          <input
            type="text"
            name="description"
            placeholder="description"
            required
          />
          <input type="text" name="code" placeholder="code" required />
          <input
            type="text"
            name="thumbnail"
            placeholder="url imagen"
            required
          />
          <input type="number" name="price" placeholder="price" required />
          <input type="number" name="stock" placeholder="stock" required />
          <input
            type="submit"
            value="Agregar producto"
            className="btn"
            id="sendForm"
          />
        </form>
      </div>
      <div id="prodTable"></div>
    </div>
    <div class="productContainer">
      <h1>Centro de mensajes</h1>
      <h2 id="compresion"></h2>
      <form id="chat">
        <div class="messageContainer"></div>
        <input
          type="text"
          placeholder="Escriba su mensaje..."
          id="messageInfo"
          name="messageInfo"
          required
        />
        <input type="submit" value="Enviar" class="btn" />
      </form>
    </div>
    <div class="productContainer">
      <h2>Numeros aleatorios</h2>
      <div id="tableNums"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/randomNums.js"></script>
    <script src="./js/product.js"></script>
    <script src="./js/message.js"></script>
    <script src="./js/user.js"></script>
    <script>
      function redireccionar(pagina) {
        location.href = pagina;
      }
      function verInfo() {
        redireccionar("/info");
      }
    </script>
  </body>
</html>
