<tr class="table-warning">
    <td class="table-warning"><%- name %></th>
    <td class="table-warning"><%- price %></td>
    <td class="table-warning"><img class="imgTh" src="<%- url %>"></td>
</tr>
