* {
  margin: 0;
  padding: 0;
}

.productContainer {
  background-color: #e9ecef;
  padding: 20px 10%;
  text-align: center;
  margin: 20px 10%;
  border-radius: 10px;
}

.productContainer h1 {
  color: #0e1afd;
}

.productContainer h2 {
  color: #916a09;
  background-color: #fff3cd;
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  align-items: center;
}

form .formDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

form .formDiv label {
  margin-left: 20px;
}

form input {
  padding: 5px 20px;
}

form .btn {
  width: fit-content;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

/* TABLA */

table {
  background-color: #343a40;
  color: white;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

td img {
  max-width: 50px;
  max-height: 50px;
}

/* CHAT */

.message {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 0;
}

.email {
  color: #0e1afd;
  display: inline;
}

.date {
  color: #a93736;
  display: inline;
}

.messageInfo {
  color: #259126;
  display: inline;
}

#messageInfo {
  width: 50%;
}

.messageContainer {
  width: 100%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

#logout-btn {
  width: fit-content;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 16px;
}

#logout-btn:hover {
  /* color: #0e1afd; */
  color: red;
  text-decoration: underline;
}

#productForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.productForm {
  background-color: #e9ecef;
  padding: 20px;
}

#productForm input {
  padding: 5px 20px;
}

#productForm .btn {
  width: fit-content;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
